@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Commissioner", sans-serif;
    min-height: 100vh;
    background-image: url("./assets/images/image-hero-mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: 640px) {
    body {
      background-image: url("./assets/images/image-hero-desktop.jpg");
    }
  }
}

@layer components {
  #app {
    @apply sm:max-w-[1440px] sm:w-full sm:my-0 sm:mx-auto ;
  }

  #list-menu {
    transition: all 0.5s ease-in-out;
  }

  #btn-open {
    @apply sm:hidden;
  }

  #btn-close {
    @apply sm:hidden;
  }

  #menu {
    @apply bg-white sm:bg-transparent w-[calc(375px-36px)] sm:w-full  p-5 sm:p-0 absolute top-[4.5rem] sm:top-0  left-3 sm:left-0 rounded-md sm:relative;
  }
}
