@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Commissioner', sans-serif;
    background-image: url('./assets/images/image-hero-mobile.jpg');
    @apply sm:!overflow-visible bg-no-repeat bg-contain min-h-screen;
  }

  @media (min-width: 640px) {
    body {
      background-image: url('./assets/images/image-hero-desktop.jpg');
    }
  }

  hr:last-child {
    @apply hidden;
  }

  hr {
    @apply sm:hidden;
  }
}

@layer components {
  #app {
    @apply sm:max-w-[1440px] sm:w-full sm:my-0 sm:mx-auto;
  }

  #btn-open {
    @apply sm:hidden;
  }

  #btn-close {
    @apply sm:hidden;
  }

  #menu {
    @apply bg-white sm:bg-transparent w-[calc(375px-36px)] sm:w-full  p-5 sm:p-0 absolute top-[4.5rem] sm:top-0  left-3 sm:left-0 rounded-md sm:relative z-50 flex sm:flex flex-col sm:flex-row gap-5 sm:opacity-100 sm:visible;
    transition: all 0.8s ease-in-out;
  }

  #overlay {
    @apply z-10 absolute top-0 left-0 w-0 h-full bg-black opacity-50 min-h-screen sm:hidden;
    transition: all 0.5s ease-in-out;
  }

  #card-0 {
    @apply hidden;
  }

  #card-1,
  #card-2 {
    @apply mb-6;
  }

  #card-3 {
    @apply opacity-50;
  }

  #card-3 button {
    @apply bg-black;
  }

  #card-modal-0,
  #card-modal-1,
  #card-modal-2 {
    @apply mb-6;
  }

  #card-modal-0 #card-value {
    @apply hidden;
  }

  #card-modal-0 #card-quantity {
    @apply hidden;
  }

  #modal {
    position: absolute;
    top: -100px;
    z-index: 999;
  }

  /* #selectModal {
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    @apply hover:bg-cyan-500;
  } */
}
