@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-rose-50;
    font-family: 'Red Hat Text', sans-serif;
    min-height: 100vh;
  }

  .b-product {
    @apply border-2 border-solid border-red-600 rounded-md;
  }
}

@layer components {
  .gridSytem {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  @media (min-width: 640px) {
    .gridSytem {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }

  .btnDecrement,
  .btnIncrement {
    @apply h-5 w-5 p-1 rounded-[50%] border-[1px] border-solid border-white;
  }
}
